----

# **Vanna AI - Default Set up**

-----

In [ ]:
#Install conda env with Python version 3.9. For example "conda install -s pytorch20_p39_gpu_v2"

In [ ]:
# %pip install 'vanna[chromadb,mistralai]'
# !pip install chromadb

## Services used
- LLM: Mistral
- Vector db: Chroma
- Database: Autonomous Database

## **Define Chroma Vector DB and Mistral**

In [1]:
import vanna as vn
from vanna.remote import VannaDefault
from vanna.chromadb.chromadb_vector import ChromaDB_VectorStore
from vanna.mistral.mistral import Mistral

In [2]:

# api_key = vanna.get_api_key('peulenbob@gmail.com')

# vanna_model_name = "namexx1"
# # vn = VannaDefault(model=vanna_model_name, api_key=api_key)
# vn = VannaDefault(model='chinook', api_key='8c6abfd3be2344469c53d51232f3d9bb')

Check your email for the code and enter it here:  GU1D0M

In [5]:
api_key = vn.get_api_key('peulenbob@gmail.com')
vn.set_api_key(api_key)

Check your email for the code and enter it here:  FJ2QNU

In [6]:
vn.set_model('my-model-0test')

Would you like to create model 'my-model-0test'? (y/n):  y
What type of database would you like to use? (Snowflake, BigQuery, Postgres, etc.):  Oracle

## **Database**

In [34]:
import pandas as pd

import ads

user_name = "BOB"                         ## User name of the database, 
password = "Blabla2022!!"                          ## Password. Example "password12345"
service_name = "adwwest_high"                      ## Service Name Example = "db202112101358_high"
full_wallet_name = "/home/datascience/ADW/Wallet_ADWWEST.zip"      

creds = {
    "user_name": user_name,
    "password":  password,
    "service_name": service_name,
    "wallet_location": full_wallet_name
}

def run_sql(sql):
    df_information_schema = pd.DataFrame.ads.read_sql(sql,connection_parameters=creds)
    dfx = pd.DataFrame(df_information_schema)
    return dfx

# # This gives the package a function that it can use to run the SQL
dfx = vn.run_sql = run_sql("select * from DCC_DATA_1")
vn.run_sql_is_set = True
dfx.head()

,DATE_ISSUED,LICENSE_TYPE,LICENSE_STATUS,REGION,LICENSE_ID,ANNUAL_FEE__$_,NUMBER_OF_EMPLOYEES,RENEWAL_DATE,COMPLIANCE_RATING__1_5_,ASSOCIATED_BUSINESS_ACTIVITY,OWNERSHIP_TYPE,BUSINESS_SIZE_CATEGORY,COMPLAINTS_OR_VIOLATIONS_RECORDED,REVENUE_RANGE,COMMUNITY_IMPACT_SCORE
0,2024-04-03,Professional License,Pending,Business Bay,LIC53618,1871.857513,49,2024-02-12,4.467349,Consultancy,Locally Owned,Small,None,$100k-$500k,5
1,2024-03-23,Professional License,Suspended,Downtown Dubai,LIC63344,4869.475676,47,2024-09-20,1.329835,Consultancy,Joint Venture,Medium,4-7 Complaints,$100k-$500k,5
2,2024-06-15,General Trading License,Pending,Business Bay,LIC66268,580.742478,22,2024-07-04,3.122868,Retail,Foreign-Owned,Medium,1-3 Complaints,$500k-$1M,10
3,2024-07-10,Industrial License,Suspended,Jumeirah,LIC90936,685.733733,43,2024-07-14,1.735424,Tourism Services,Foreign-Owned,Large,1-3 Complaints,$100k-$500k,3
4,2024-02-07,E-Commerce License,Expired,Dubai Marina,LIC77230,3898.936354,44,2024-07-16,2.800636,Manufacturing,Locally Owned,Large,8+ Complaints,$100k-$500k,7

## **Train Vanna Model on Schema**

In [ ]:
vn.train(ddl="""
CREATE TABLE DCC_DATA_1 
    ( 
     DATE_ISSUED                       DATE , 
     LICENSE_TYPE                      VARCHAR2 (64) , 
     LICENSE_STATUS                    VARCHAR2 (64) , 
     REGION                            VARCHAR2 (64) , 
     LICENSE_ID                        VARCHAR2 (64) , 
     ANNUAL_FEE__$_                    NUMBER , 
     NUMBER_OF_EMPLOYEES               NUMBER , 
     RENEWAL_DATE                      DATE , 
     COMPLIANCE_RATING__1_5_           NUMBER , 
     ASSOCIATED_BUSINESS_ACTIVITY      VARCHAR2 (64) , 
     OWNERSHIP_TYPE                    VARCHAR2 (64) , 
     BUSINESS_SIZE_CATEGORY            VARCHAR2 (64) , 
     COMPLAINTS_OR_VIOLATIONS_RECORDED VARCHAR2 (64) , 
     REVENUE_RANGE                     VARCHAR2 (64) , 
     COMMUNITY_IMPACT_SCORE            NUMBER 
    ) 
""")

In [10]:
training_data = vn.get_training_data()
training_data

,id,training_data_type,question,content
0,33304-ddl,ddl,NaN,\nCREATE TABLE DCC_DATA_1 \n ( \n DATE_...

## **Example questions**

In [ ]:
vn.ask(question="What is the information for all data entries where the number of employees is greater 5")

In [35]:
vn.ask(question="List the number of employees per region")

SELECT REGION, SUM(NUMBER_OF_EMPLOYEES) AS TOTAL_EMPLOYEES
FROM DCC_DATA_1
GROUP BY REGION;
Couldn't run sql:  'DataFrame' object is not callable

## **Example questions + Query and dataframe on Oracle ADW**

In [73]:
question = "List the number of employees per region"

In [65]:
question = "What is the community score for each region? Rank by date"

In [71]:
question = "Which business activity has the largest annual fee?"

In [74]:
save_results = vn.ask(question=question, print_results = False)
save_results_list = list(save_results)
clean_query = save_results_list[0].replace("\n", " ")
clean_query = clean_query.replace(";", "")
print(clean_query)

#query db
df_from_question = vn.run_sql = run_sql(clean_query)
df_from_question

Couldn't run sql:  'DataFrame' object is not callable
SELECT REGION, SUM(NUMBER_OF_EMPLOYEES) AS TOTAL_EMPLOYEES FROM DCC_DATA_1 GROUP BY REGION

           REGION  TOTAL_EMPLOYEES
0    Business Bay             2603
1  Downtown Dubai             2922
2           Deira             2656
3        Jumeirah             2214
4    Dubai Marina             2710